<div id="sylius-billing-address" {{ sylius_test_html_attribute('billing-address') }} class="register col-md-6">
    {% include '@SyliusShop/Checkout/Address/_addressBookSelect.html.twig' %}
    <h3 class="login__title text-darkBlue">{{ 'sylius.ui.billing_address'|trans }}</h3>

    <div class="login__form login__form--register">
    {% if app.user is null %}

        {% set ajax_user_check_action_path = path('sylius_shop_ajax_user_check_action') %}
        <div class="relative">
            {{ form_label(form.customer.email, sylius_test_form_attribute('login-email')) }}
            {{ form_errors(form.customer.email, sylius_test_form_attribute('login-email')) }}
            {{ form_widget(form.customer.email, sylius_test_form_attribute('login-email')|merge({'attr': {'class': 'input'}})) }}
        </div>

    {% endif %}

    {% include '@SyliusShop/Common/Form/_address.html.twig' with {'form': form.billingAddress, 'order': order, 'type': 'billing'} %}

    {{ form_row(form.differentShippingAddress, sylius_test_form_attribute('different-shipping-address')|sylius_merge_recursive({'attr': {'data-toggles': 'sylius-shipping-address'}, 'label_attr': {'data-test-different-shipping-address-label': ''}} )) }}
    </div>

    {{ sylius_template_event('sylius.shop.checkout.address.billing_address_form', {'order': order}) }}

    {% include '@SyliusShop/Checkout/Address/_navigation.html.twig' %}
    {{ form_row(form._token) }}
</div>



<div id="sylius-shipping-address" {{ sylius_test_html_attribute('shipping-address') }} class="register hidden col-md-6">
    <div class="ui hidden divider"></div>
    {% include '@SyliusShop/Checkout/Address/_addressBookSelect.html.twig' %}
    <h3 class="login__title text-darkBlue">{{ 'sylius.ui.shipping_address'|trans }}</h3>
    <div class="login__form login__form--register">
    {% include '@SyliusShop/Common/Form/_address.html.twig' with {'form': form.shippingAddress, 'order': order, 'type': 'shipping'} %}
    </div>

    {{ sylius_template_event('sylius.shop.checkout.address.shipping_address_form', {'order': order}) }}
</div>
