<div class="footer__block col-sm-12 col-md-4">
    <ul>
        <li><a href="{{ bitbag_cms_get_link_for_code('privacy') }}">{{ 'app.ui.menu.footer.privacy'|trans }}</a></li>
        <li><a href="{{ bitbag_cms_get_link_for_code('regulations') }}">{{ 'app.ui.menu.footer.regulations'|trans }}</a></li>
        <li><a href="{{ bitbag_cms_get_link_for_code('gdpr') }}">{{ 'app.ui.menu.footer.gpdr'|trans }}</a></li>
        <li><a href="{{ bitbag_cms_get_link_for_code('faq') }}">{{ 'app.ui.menu.footer.faq'|trans }}</a></li>
    </ul>
</div>
<div class="footer__block col-sm-12 col-md-4">
    <ul>
        <li><a href="{{ bitbag_cms_get_link_for_code('shipping_costs') }}">{{ 'app.ui.menu.footer.promotions'|trans }}</a></li>
        <li><a href="{{ bitbag_cms_get_link_for_code('shipping_costs') }}">{{ 'app.ui.menu.footer.bestsellers'|trans }}</a></li>
        <li><a href="{{ bitbag_cms_get_link_for_code('shipping_costs') }}">{{ 'app.ui.menu.footer.shipping_costs'|trans }}</a></li>
        <li><a href="{{ bitbag_cms_get_link_for_code('pick_up_places') }}">{{ 'app.ui.menu.footer.pick_up_places'|trans }}</a></li>
    </ul>
</div>
