{% extends '@SyliusAdmin/Email/layout.html.twig' %}

{% block subject %}
    {{ 'sylius.email.shipment_confirmation.subject'|trans({}, null, localeCode) }}
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h3>{{ 'sylius.email.shipment_confirmation.dear_client'|trans({}, null, localeCode) }}</h3>

        <div style="margin-bottom: 20px;">
            {{ 'sylius.email.shipment_confirmation.has_been_successfully_placed'|trans({}, null, localeCode) }}
        </div>
        <div style="text-align: center; margin-bottom: 30px;">
            <a href="https://bit.ly/3UFvL0Z" style="display: inline-block; text-align: center; background: #195281; padding: 18px 28px; color: #fff; text-decoration: none; border-radius: 3px;">
                {{ 'sylius.email.shipment_confirmation.get_opinion'|trans({}, null, localeCode) }}
            </a>
        </div>
        <div>
            {{ 'sylius.email.shipment_confirmation.thank_you_for_transaction'|trans({}, null, localeCode) }}
        </div>
    </div>
{% endblock %}
