{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.reset_password'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <section class="login container">
        <h1 class="title text-darkBlue">{{ 'sylius.ui.reset_password'|trans }}</h1>
        <div class="row">
            <div class="login__form col-sm-12 col-md-6 col-md-offset-3">
                <h2 class="login__title text-darkBlue">{{ 'sylius.ui.reset_password'|trans }}</h2>
                {{ sylius_template_event('sylius.shop.request_password_reset_token.after_content_header') }}

                {{ form_start(form, {'action': path('sylius_shop_request_password_reset_token'), 'attr': {'class': '', 'novalidate': 'novalidate'}}) }}
                {{ form_widget(form.email, {'attr': {'class': 'input'}}) }}

                {{ sylius_template_event('sylius.shop.request_password_reset_token.form', {'form': form}) }}

                {{ form_row(form._token) }}
                <button type="submit" class="button button--blue" {{ sylius_test_html_attribute('request-password-reset-button') }}>
                    {{ 'sylius.ui.reset'|trans }}
                </button>
                {{ form_end(form, {'render_rest': false}) }}
                <div class="login__forgotten text-center">
                    <a href="{{ path('sylius_shop_login') }}" class="text-darkBlue">{{ 'sylius.ui.login'|trans }}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
