<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{{ sylius.channel.name }}{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <meta property="og:image" content="https://medorto.pl/media/cache/sylius_large/db/6d/2ebeb93e0cf6ad3924022c093266.png" />

    <meta property="og:description" content="
    Jesteśmy siecią Sklepów Medycznych z własną hurtownią, z główną siedzibą w Tarnobrzegu.

    Działamy na rynku od 2012 roku.
    Współpracujemy z wykwalifikowanymi fizjoterapeutami i służymy pomocą.

    Nasz personel to również pielęgniarki i farmaceuci. Dysponujemy szerokim asortymentem, przez co każdy klient wychodzi zadowolony.
    Jesteśmy elastyczni i dostosowujemy się do wymagań naszych klientów. Gwarantujemy atrakcyjne ceny i dogodne formy płatności.

    Realizujemy wnioski NFZ na sprzęt ortopedyczny, rehabilitacyjny oraz środki pomocnicze.
    " />

    <meta property="og:url"content="https://medorto.pl" />

    <meta property="og:title" content="{{ sylius.channel.name }}" />

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        {{ sylius_template_event('sylius.shop.layout.stylesheets') }}
    {% endblock %}

    {{ sylius_template_event('sylius.shop.layout.head') }}

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T556P63');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-216345784-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-216345784-1');
    </script>

    <style>
        .collapse {
            display: none;
        }
        .collapse.in {
            display: block;
        }
        .collapsing {
            position: relative;
            height: 0;
            overflow: hidden;
            -webkit-transition-property: height, visibility;
            -o-transition-property: height, visibility;
            transition-property: height, visibility;
            -webkit-transition-duration: 0.35s;
            -o-transition-duration: 0.35s;
            transition-duration: 0.35s;
            -webkit-transition-timing-function: ease;
            -o-transition-timing-function: ease;
            transition-timing-function: ease;
        }
    </style>
</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T556P63"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{{ sylius_template_event('sylius.shop.layout.before_body') }}

<main>
    {% include 'App/Layout/_mobileMenu.html.twig' %}
    <section class="bg-darkBlue text-white text-center">
        <div class="container wrapper">

            <p class="flex flex--between" style="padding: 18px; font-weight: bold;">
                <span class=" ">KONTAKT</span>
                <span class=" ">Infolinia: +48 733 533 953</span>
                <span class=" ">Email: medorto@medorto.pl</span>
                <span class=" ">infolinia czynna od poniedziałku do piątku od 8:00-17:00</span>
            </p>

        </div>
    </section>
    <section class="nfz-bar wrapper" >
        <a href="{{ path('odiseo_sylius_blog_plugin_shop_article_show',{'slug': 'refundacja-online'}) }}">
            <div class="row">
                <div style="padding: 18px !important; font-weight: bold;" class="nfz-bar__offset col-xs-12 col-md-6 col-md-offset-6 bg-blue text-white flex">
                    <img src="/assets/shop/img/nfz.png" alt="logo nfz"/>
                    <p>
                        <span class="font-light">{{ 'app.ui.top_banner.slogan'|trans|raw }}</span>
                        <span href="#" class="text-white">{{ 'app.ui.top_banner.slogan_bold'|trans|raw }}</span>
                    </p>
                </div>
            </div>
        </a>
    </section>
    <header class="header container">
        <div class="row">
            <div class="col-xs-12 col-md-6 px-0 flex flex--between">
                <a href="{{ path('sylius_shop_homepage') }}" class="logo">
                    <img src="/assets/shop/img/medorto.png" alt="medorto logo" />
                </a>
            </div>
            <div class="header__actions col-sm-12 col-md-6 px-0 flex">
                <form action="{{ path('search_result') }}">
                    <div class="input input--icon">
                        <button type="submit" class="flex" style="border: 0; background: transparent; cursor: pointer">
                            <img class="input__icon" src="/assets/shop/img/glass.png" alt="szukaj" />
                        </button>
                        <input type="text" placeholder="Szukaj" name="query" />
                    </div>
                </form>
                <div class="actions flex">
                    <a href="{% if app.user %}{{ path('sylius_shop_account_dashboard') }}{% else %}{{ path('sylius_shop_login') }}{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28.133" height="35.166" viewBox="0 0 28.133 35.166">
                            <g id="Group_598" data-name="Group 598" transform="translate(-1301.645 -72.355)">
                                <path
                                    id="Path_972"
                                    data-name="Path 972"
                                    d="M1315.712,75.871a5.275,5.275,0,0,1,5.275,5.275h3.516a8.791,8.791,0,0,0-8.791-8.791Zm-5.275,5.275a5.275,5.275,0,0,1,5.275-5.275V72.355a8.791,8.791,0,0,0-8.792,8.791Zm5.275,5.275a5.274,5.274,0,0,1-5.275-5.275h-3.517a8.792,8.792,0,0,0,8.792,8.792Zm5.275-5.275a5.275,5.275,0,0,1-5.275,5.275v3.517a8.791,8.791,0,0,0,8.791-8.792Z"
                                    fill="#8e8e8e"
                                />
                                <path
                                    id="Path_973"
                                    data-name="Path 973"
                                    d="M1303.4,107.521h24.617V104H1303.4Zm12.309-12.308a10.549,10.549,0,0,1,10.549,10.55h3.517A14.067,14.067,0,0,0,1315.712,91.7Zm-10.55,10.55a10.55,10.55,0,0,1,10.55-10.55V91.7a14.067,14.067,0,0,0-14.067,14.067Zm-1.759,0h-1.758a1.758,1.758,0,0,0,1.758,1.758Zm24.617,0v1.758a1.758,1.758,0,0,0,1.758-1.758Z"
                                    fill="#8e8e8e"
                                />
                            </g>
                        </svg>
                        {{ 'sylius.ui.account'|trans }}
                    </a>
                    <a href="{{ path('sylius_shop_cart_summary') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35.427" height="35.427" viewBox="0 0 35.427 35.427">
                            <path
                                id="Path_971"
                                data-name="Path 971"
                                d="M1403.64,96.953h0l-2.505-2.505a3.542,3.542,0,0,0,2.505,6.047Zm0,0,4.062-4.062-2.505-2.5-4.062,4.062Zm0,3.542h20.523V96.953H1403.64Zm2.809,0a1.772,1.772,0,0,1,1.772,1.772h3.542a5.314,5.314,0,0,0-5.314-5.314Zm-1.771,1.772a1.771,1.771,0,0,1,1.771-1.772V96.953a5.314,5.314,0,0,0-5.314,5.314Zm1.771,1.771a1.771,1.771,0,0,1-1.771-1.771h-3.543a5.314,5.314,0,0,0,5.314,5.314Zm1.772-1.771a1.771,1.771,0,0,1-1.772,1.771v3.543a5.314,5.314,0,0,0,5.314-5.314Zm15.942-1.772a1.771,1.771,0,0,1,1.771,1.772h3.543a5.314,5.314,0,0,0-5.314-5.314Zm-1.772,1.772a1.772,1.772,0,0,1,1.772-1.772V96.953a5.314,5.314,0,0,0-5.314,5.314Zm1.772,1.771a1.771,1.771,0,0,1-1.772-1.771h-3.542a5.314,5.314,0,0,0,5.314,5.314Zm1.771-1.771a1.771,1.771,0,0,1-1.771,1.771v3.543a5.314,5.314,0,0,0,5.314-5.314Zm-22.319-23.028h27.633V75.7h-27.633Zm-1.737-1.424,2.834,14.171,3.474-.695-2.834-14.171Zm-.708-3.543.708,3.543,3.474-.695-.708-3.542Zm24.577,18.159,7.086-14.171-3.169-1.584-7.086,14.17Zm-19.3.979h17.714V89.867h-17.714ZM1399.364,75.7h3.543V72.154h-3.543Zm3.024,20-1.253-1.252Zm28.86-18.232,1.585.792a1.773,1.773,0,0,0-1.585-2.564Zm-7.085,14.171V93.41a1.771,1.771,0,0,0,1.584-.979Zm-21.256-17.714,1.737-.347a1.772,1.772,0,0,0-1.737-1.424Zm-3.543-1.771a1.771,1.771,0,0,0,0,3.542Z"
                                transform="translate(-1397.593 -72.154)"
                                fill="#8e8e8e"
                            />
                        </svg>
                        {{ 'sylius.ui.cart.label'|trans }}
                    </a>
                </div>
            </div>
        </div>
        {% include 'App/Shop/_nav.html.twig' %}
    </header>
    <div class="container mt-4">
        {% include '@SyliusUi/_flashes.html.twig' %}
    </div>
    {{ sonata_block_render_event('sylius.shop.layout.before_content') }}

    {% block content %}
    {% endblock %}

    {{ sylius_template_event('sylius.app.layout.after_content') }}
    {% block footer %}
        {% include '@SyliusShop/_footer.html.twig' %}
    {% endblock %}
</main>

<div id="fb-root"></div>

<!-- Your Wtyczka czatu code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<section class="cookies bg-darkBlue text-white">
    <div class="container">
        <h2>INFORMACJA DOTYCZĄCA PLIKÓW COOKIES</h2>
        <p>
            Informujemy, iż w celu optymalizacji treści dostępnych w naszym serwisie, dostosowania ich do Państwa indywidualnych potrzeb korzystamy z informacji zapisanych za pomocą
            plików cookies na urządzeniach końcowych użytkowników. Pliki cookies użytkownik może kontrolować za pomocą ustawień swojej przeglądarki internetowej. Dalsze korzystanie z
            naszego serwisu internetowego, bez zmiany ustawień przeglądarki internetowej oznacza, iż użytkownik akceptuje stosowanie plików cookies.
            <a href="#" class="text-orange">Czytaj więcej</a>
        </p>
    </div>
    <a href="javascript:void(0)" class="button button--white">Akceptuje</a>
</section>


{% include 'App/Shop/_javascripts.html.twig'  %}

<script type="text/javascript">
    var monsieurbizSearchPlugin = {
        instantEnabled: true,
        refreshWithButton: true,
        instantUrl: '/pl_PL/instant', // URL for instant search
        searchInputSelector: '.autocomplete-search input[type=text]', // Selector for search input text field
        resultClosestSelector: '.autocomplete-search', // Selector used to display results, take the closest parent of searchInputSelector
        resultFindSelector: '.autocomplete-results', // Selector used to display results, take the closest parent of searchInputSelector
        loaderSelector: '.mbiz-sylius-search-grid .dimmer', // Selector used to display results, take the closest parent of searchInputSelector
        keyUpTimeOut: 500, // Time in millisecond to wait to be sure the user ended typing
        minQueryLength: 3, // Number of characters minimum to call instant search
        filterForm: '.mbiz-sylius-search-filters form[name="filters-form"]',
        priceFilterSelector: '.mbiz-sylius-search-filters input[type="number"]',
        attributeFilterSelector: '.mbiz-sylius-search-filters input[type="checkbox"]',
    };
</script>
<script src="/bundles/monsieurbizsyliussearchplugin/js/app.js"></script>

{% block javascripts %}
    <script>
        const options = {
            type: "carousel",
            gap: 0,
            perView: 1,
        };
        if ($('.glide').length > 0) {
            new Glide(".glide", options).mount();
        }
    </script>
{% endblock %}
<script>

    $(".my-rating").starRating({
        totalStars: 5,
        starShape: "rounded",
        starSize: 24,
        hoverColor: "#f99e23",
        activeColor: "#f99e23",
        ratedColor: "#f99e23!important",
        useGradient: false,
        disableAfterRate: false,
        useFullStars: true,
        strokeColor: 'transparent',
        callback: function(currentRating, $el) {
            $('#sylius_product_review_rating_' + (currentRating - 1)).prop('checked', true);
        }
    });
    $(".user-rating").starRating({
        totalStars: 5,
        starShape: "rounded",
        starSize: 44,
        hoverColor: "#f99e23",
        activeColor: "#f99e23",
        ratedColor: "#f99e23!important",
        useGradient: false,
        disableAfterRate: false,
        useFullStars: true,
        strokeColor: 'transparent',
        callback: function(currentRating, $el) {
            $('#sylius_product_review_rating_' + (currentRating - 1)).prop('checked', true);
        }
    });
    checkCookie();
    selectProductImage();
</script>

<script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "109506213904876");
    chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
    window.fbAsyncInit = function() {
    FB.init({
    xfbml            : true,
    version         : 'v17.0'
    });
    };

    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/pl_PL/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

{{ sylius_template_event('sylius.shop.layout.after_body') }}
</body>
</html>
