{% import '@SyliusUi/Macro/messages.html.twig' as messages %}
{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

<div class="products container wrapper">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <h3 class="search-page__subtitle text-darkBlue">KATEGORIE</h3>
            {{ render(url('sylius_shop_partial_channel_menu_taxon_index', {'template': '@SyliusShop/Taxon/_leftSidebar.html.twig'})) }}
        </div>
        <div class="col-xs-12 col-md-9">
            {{ sylius_template_event('sylius.shop.product.index.before_list', {'products': resources.data}) }}

            {% if resources.data|length > 0 %}
                <div class="products__list" id="products" {{ sylius_test_html_attribute('products') }}>
                    {% for product in resources.data %}
                        {% include '@SyliusShop/Product/_box.html.twig' %}
                    {% endfor %}
                </div>

                {{ sylius_template_event('sylius.shop.product.index.before_pagination', {'products': resources.data}) }}
                {{ pagination.simple(resources.data) }}
            {% else %}
                {{ messages.info('sylius.ui.no_results_to_display') }}
            {% endif %}

            {{ render(url('sylius_shop_partial_taxon_show_by_slug', {
                'slug': app.request.attributes.get('slug'),
                'template': '@SyliusShop/Taxon/_footer.html.twig'
            })) }}
        </div>
    </div>
</div>
