{% extends '@SyliusShop/layout.html.twig' %}
{% form_theme form 'App/Form/theme.html.twig' %}


{% block content %}
    <section class="page renouncement container wrapper">
        <h1 class="page__title text-darkBlue">Formularza odstąpienia od umowy</h1>
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <p class="page__subtitle text-darkBlue">Dane Użytkownika Ortopedio.pl sp. z o.o. ul. Forteczna 35-37 87-100 Toruń</p>
                <p>Ja/My (*) niniejszym odstępuję/odstępujemy (*) od umowy sprzedaży następujących towarów/ świadczenia następującej usługi (*):</p>
                {{ form_start(form, {'attr': {
                    'class': 'renouncement__form',
                    'data-parsley-validate': '',
                    'novalidate': '',
                    '_lpchecked': '1'
                }}) }}
                    <div class="flex relative">
                        <p>Data zamówienia:</p>
                        {{ form_widget(form.orderDate, {'attr': {'class': 'input'}}) }}
                        {{ form_errors(form.orderDate) }}
                    </div>
                    <div class="flex relative">
                        <p>Data odbioru towaru:</p>
                        {{ form_widget(form.orderReceivedDate, {'attr': {'class': 'input'}}) }}
                        {{ form_errors(form.orderReceivedDate) }}
                    </div>
                    <div class="flex relative">
                        <p>Imię i nazwisko / Nazwa / konsumenta(-ów) (*):</p>
                        {{ form_widget(form.name, {'attr': {'class': 'input'}}) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="flex relative">
                        <p>Adres konsumenta(-ów):</p>
                        {{ form_widget(form.address, {'attr': {'class': 'input input--textarea', 'cols': 30, 'rows': 8}}) }}
                        {{ form_errors(form.address) }}
                    </div>
                    <div class="flex flex--full relative">
                        <p>Proszę dokonać zwrotu zapłaconej ceny to- waru wraz z poniesionymi przeze mnie/nas (*) kosztami dostawy towaru do konsumenta(-ów) na niniejszy numer rachunku bankowego / w następujący sposób</p>
                        {{ form_widget(form.bankAccount, {'attr': {'class': 'input'}}) }}
                        {{ form_errors(form.bankAccount) }}
                    </div>
                    <div class="flex">
                        <p>Miejscowość, data:</p>
                        <div class="relative">
                            {{ form_widget(form.city, {'attr': {'class': 'input'}}) }}
                            {{ form_errors(form.city) }}
                        </div>
                        <div class="relative">
                            {{ form_widget(form.issueDate, {'attr': {'class': 'input'}}) }}
                            {{ form_errors(form.issueDate) }}
                        </div>
                    </div>
                    <div class="flex flex--between">
                        <input type="submit" value="Wyślij" class="button button--blue">
                        <a href="#" class="button button--blue">Wydrukuj</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
