{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<ul class="account__orders">
    {% for refund in refunds %}
        {% set order = refund.order %}
        <li class="account__order flex row">
            <p class="account__content col-sm-12 col-md-3">
                {{ 'sylius.ui.order'|trans }}<br>
                nr. <a href="{{ path('sylius_shop_account_order_show', {'number': order.number}) }}">{{ order.number }}</a> <br>
                {{ 'sylius.ui.state'|trans }}: {{ order.state }}<br>
                <b>{{ money.format(order.total, order.currencyCode) }}</b>
            </p>
            {% for item in order.items %}
                {% set variant = item.variant %}
                {% set product = variant.product %}
                {% if variant.hasImages %}
                    {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': variant, 'filter': 'sylius_shop_product_tiny_thumbnail', 'imageClass': 'col-sm-12 col-md-3'} %}
                {% else %}
                    {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'filter': 'sylius_shop_product_tiny_thumbnail', 'imageClass': 'col-sm-12 col-md-3'} %}
                {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
</ul>
