<section class="payments container wrapper">
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <p>{{ 'app.ui.safe_payment'|trans }}</p>
            <div class="flex flex--between">
                <img src="{{ asset('assets/shop/img/przelewy24.png') }}" width="auto" height="50px" alt="przelewy24" />
                <img src="{{ asset('assets/shop/img/mc.png') }}" alt="mastercard" />
                <img src="{{ asset('assets/shop/img/blik.png') }}" alt="blik" />
                <img src="{{ asset('assets/shop/img/visa.png') }}" alt="visa" />
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-md-offset-1">
            <p>{{ 'app.ui.fast_delivery'|trans }}</p>
            <div class="flex">
                <img src="/assets/shop/img/send.png" alt="wysyłka" />
            </div>
        </div>
    </div>
</section>
