<div class="col-sm-12 col-md-3">
    <div class="blog__item">
        {% if article.images|length > 0 %}
            <a href="{{ path('odiseo_sylius_blog_plugin_shop_article_show', {'slug' : article.slug}) }}">
                <img class="blog__image" src="{{ article.images[0].path|imagine_filter(filter|default('sylius_medium')) }}" alt="{{ article.images[0].path }}">
            </a>
        {% endif %}
        <div class="blog__content">
            <a href="{{ path('odiseo_sylius_blog_plugin_shop_article_show', {'slug' : article.slug}) }}">
                <h4>{{ article.title }}</h4>
            </a>
            <p>{{ article.intro|slice(0, 80) }}</p>
        </div>
    </div>
</div>
