<section class="slider glide">
    <div class="glide__track" data-glide-el="track">
        <div class="glide__slides">
            <div class="glide__slide">
                <div class="col-sm-12 col-md-6 px-0">
                    <img class="responsive-img" src="/assets/shop/img/placeholder.jpg" alt="Wózki inwalidzkie" />
                </div>
                <div class="col-sm-12 col-md-6 bg-darkBlue text-white slider__item">
                    <div class="slider__content">
                        <h2>Wózki inwalidzkie</h2>
                        <p>Indywidualnie dobrany sprzęt dla osób z ograniczoną sprawnością, umożliwiający przemieszczanie się.</p>
                        <a href="{{ path('sylius_shop_product_index', {'slug': 'mobilnosc/wozki-inwalidzkie'}) }}" class="button button--white">Zobacz</a>
                    </div>
                </div>
            </div>
            <div class="glide__slide">
                <div class="col-sm-12 col-md-6 px-0">
                    <img class="responsive-img" src="/assets/shop/img/kosmetyka.jpg" alt="Wózki inwalidzkie" />
                </div>
                <div class="col-sm-12 col-md-6 bg-darkBlue text-white slider__item">
                    <div class="slider__content">
                        <h2>Kosmetyki i pielęgnacja</h2>
                        <p>Wysokiej jakości produkty kosmetyczne do codziennego użytku, dzięki którym zadbasz o swoje ciało.</p>
                        <a href="{{ path('sylius_shop_product_index', {'slug': 'kosmetyki-i-pielegnacja-ciala'}) }}" class="button button--white">Zobacz</a>
                    </div>
                </div>
            </div>
            <div class="glide__slide">
                <div class="col-sm-12 col-md-6 px-0">
                    <img class="responsive-img" src="/assets/shop/img/wkladki.jpg" alt="Wózki inwalidzkie" />
                </div>
                <div class="col-sm-12 col-md-6 bg-darkBlue text-white slider__item">
                    <div class="slider__content">
                        <h2>Wkładki do butów</h2>
                        <p>Sprzęt ortopedyczny wykonany z materiału wysokiej jakości, dobierany indywidualnie.</p>
                        <a href="{{ path('sylius_shop_product_index', {'slug': 'wkladki-do-butow'}) }}" class="button button--white">Zobacz</a>
                    </div>
                </div>
            </div>
            <div class="glide__slide">
                <div class="col-sm-12 col-md-6 px-0">
                    <img class="responsive-img" src="/assets/shop/img/wyposazenie.jpg" alt="Wózki inwalidzkie" />
                </div>
                <div class="col-sm-12 col-md-6 bg-darkBlue text-white slider__item">
                    <div class="slider__content">
                        <h2>Produkty medyczne</h2>
                        <p>Pozostałe produkty medyczne, będące pomocne przy różnego rodzaju bólach i schorzeniach.</p>
                        <a href="{{ path('sylius_shop_product_index', {'slug': 'kategorie/produkty-medyczne'}) }}" class="button button--white">Zobacz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="glide__bullets" data-glide-el="controls[nav]">
        <button class="glide__bullet" data-glide-dir="=0"></button>
        <button class="glide__bullet" data-glide-dir="=1"></button>
        <button class="glide__bullet" data-glide-dir="=2"></button>
        <button class="glide__bullet" data-glide-dir="=3"></button>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <img src="{{ asset('assets/shop/img/arrow.png') }}" alt="arrow-left" />
        </button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <img src="{{ asset('assets/shop/img/arrow.png') }}" alt="arrow-right" />
        </button>
    </div>
</section>
